.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  border: 1px solid var(--orange-dark);
  border-radius: 25px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;

  text-align: center;
  width: 280px;
  height: 52px;

  transition: all 0.25s;
}

.primary {
  color: var(--black);
  background-color: var(--orange);
  padding: 5px 30px;
}

.ghost {
  width: fit-content;
  height: 23px;
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 100px;
  font-weight: 100;

  font-size: 12px;
  text-align: center;
  justify-content: center;
  text-transform: none;
  color: var(--orange);
  background: var(--orange-dark);
}
