.container {
  background-image: url("../../images/main_bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----- MOBILE ----- */

@media only screen and (max-width: 576px) {
  .container {
    background-image: none;
  }
}
