.container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "CAT Linz";
  font-size: 30px;
  font-weight: 400;
  line-height: 91px;
  letter-spacing: 0.225em;
  text-align: left;
}

.info {
  display: flex;
}

.username {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;

  margin: 0 5px;
}

.logout {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0 5px;
  text-transform: none;
  transition: all 0.5s;

  &:hover {
    color: var(--orange);
  }
}

.footer_container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;

  text-transform: none;
  margin: 10px 0;
}

.paycards {
  margin: 25px 0;
  display: flex;
}

.visa,
.maestro,
.mastercard {
  background-size: cover;
  width: 72px;
  height: 32px;
  background-position: center;
  border-radius: 5px;
}

.visa {
  background-image: url("../../images/Visa.png");
}
.mastercard {
  margin: 0 10px;
  background-image: url("../../images/Mastercard.png");
}
.maestro {
  background-image: url("../../images/Maestro.png");
}

.discrebe {
  font-family: "Mulish";
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;

  text-transform: none;
  max-width: 317px;
}

.contacts > .discrebe:last-of-type {
  margin-top: 25px;
}

.created {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: var(--light);
  > * {
    font-family: "Mulish";
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: none;
    > a {
      font-size: 9px;
      color: var(--orange);
    }
  }
}
